build/
bin/
vendor/devkitpro/
*.exe
*.obj
*.pdb
*.ilk
*.lib
*.user
*.suo
*.log
*.i64
*.idb
.vs/

DontShip/
shipping/

switch/**/build/
switch/**/build-debug/
switch/**/*.elf
switch/**/*.nro
switch/**/*.nacp
switch/**/*.map
switch/**/*.lst
switch/**/build_log.txt
switch/libp3d/lib/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.apk.idsig
